@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

<div class="text-center" id="welcome">
    <h1 class="display-4">Welcome to Chow!</h1>
    <p>Where you can search and save all your favorite pup recipes!!</p>
</div>
